* {
  margin: 0;
  padding: 0;
}

html {
  background: #222;
}

body {
  background: #222;
}

.noFill {
  fill: none;
}

#phone {
  width: 30em;
  height: 45em;
  position: relative;
  background: #edf0f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 2%;
  border-radius: 10px;
  padding-top: 110px;
}

header {
  width: 93.8%;
  height: 80px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header input {
  width: 86%;
  height: 50px;
  float: left;
  color: #fff;
  text-indent: 15px;
  padding: 0 60px 0 0;
  font-size: 15px;
  font-family: helvetica, sans-serif;
  background: rgba(255,255,255,0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-family: helvetica, sans-serif;
  font-size: 15px;
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-family: helvetica, sans-serif;
  font-size: 15px;
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-family: helvetica, sans-serif;
  font-size: 15px;
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-family: helvetica, sans-serif;
  font-size: 15px;
}

header button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  background: #edf0f1;
  top: 25px;
  right: 15px;
  z-index: 20;
  border: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: #25b99a;
}

ul.todo {
  width: 100%;
  float: left;
}

ul.todo li {
  width: 79.2%;
  float: left;
  min-height: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  list-style: none;
  position: relative;
  padding: 0 100px 0 0;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 50px;
  text-indent: 24px;
}

ul.todo li:last-of-type {
  margin: 0 !important;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background: orange;
  z-index: 50;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  background: #fff;
  float: left;
  border: 0;
  box-shadow: none;
  outline: none;
  position: relative;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  background: #edf0f1;
  top: 10px;
  left: 0px;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #25b99a;
  transition: background 300ms ease;
}

ul.todo#completed li .buttons button.complete svg {
  background: #25b99a;
  border: 0;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.todo li .buttons button svg .fill {
  transition:fill 300ms ease;
  -webkit-transition:fill 300ms ease;
  -moz-transition:fill 300ms ease;
  -o-transition:fill 300ms ease;
  -ms-transition:fill 300ms ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #25b99a;
}
